.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #f0f0f0;
  }

  .buttons-container {
    position: absolute;
    bottom: 23vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    padding-bottom: 1.25vh;
  }
  
  .map-button {
    width: 150px;
    height: 40px;
    bottom: 23vh;
    padding: 0;
    border: none;
    border-radius: 0px;
    background-color: #0B0B0B;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .map-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow when button is active (clicked) */
}


  .map-button:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow when button is active (clicked) */
}

  .png-icon {
    width: 200px;
    height: 40px;
  }

  .co2-icon {
    width: 35px;
    height: 17px;
  }

  .selected {
    background-color: #bdbcbc;
    border: 2.5px solid #ffffff;
  }

  .app-container.hide {
    display: none;
  }

  .typewriter h1 {
    overflow: hidden; 
    z-index: 99999;
    gap: 10px;
    border-right: .15em solid rgb(0, 0, 0);
    white-space: nowrap;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  padding-bottom: 10px;
    padding-top: 1px;
    padding-left: 2px;
    font: 1.5rem/1 "Inter", sans-serif;
  font-weight: 500;
  /* text-wrap: normal; */
  line-height: 150%;
    letter-spacing: .1vh;
  }

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0); }
}
  