.iso-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    background-color: #f0f0f0;
  }

  .iso-buttons-container {
    position: absolute;
    bottom: 23vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1vh;
  }
  
  .iso-map-button {
    width: 9vh;
    height: 9vh;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #0B0B0B;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iso-png-icon {
    width: 3vh;
    height: 3vh;
  }

  .iso-co2-icon {
    width: 4vh;
    height: 2vh;
  }

  .iso-selected {
    background-color: #bdbcbc;
    border: 2.5px solid #ffffff;
  }

  .iso-app-container.hide {
    display: none;
  }